<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <h2>Admin Login </h2>
  <form action="AdminDashboard.html">
     <table border=2 cellpadding=5 cellspacing=10>
     <tr> <td>Email Id: </td> <TD><input type=text id="email">
     
     </TD></tr>
     <tr> <td>Password: </td> <TD><input type=password id="pwd">
     </TD></tr>
     
     <tr> <td><input type=submit value="Login" onclick="AdminDashboard.html"> </td> </tr>
     </table>
     </form>

</body>
</html>