<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="background-color:#DFDFDF;">
        <nav class="navbar py-1 navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand px-5" href="#">Vehcile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item px-3 active">
                  <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="#">EMI Calculator</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="#">Apply Loan</a>
                </li>
              </ul>
            </div>
          </nav>
          <div id="carouselExampleIndicators" class="carousel  m-0 slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <carousel  cellWidth="100%" [height]=720>
                <div class="carousel-cell active">
                    <img class="d-block h-20 w-100" src="../../assets/images/car1.jpg" alt="First slide">
                  </div>
                  <div class="carousel-cell">
                    <img class="d-block w-100" src="../../assets/images/hyundai1.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-cell">
                    <img class="d-block w-100" src="../../assets/images/hyundai2.png" alt="Third slide">
                  </div>
                  <div class="carousel-cell">
                    <img class="d-block w-100" src="../../assets/images/tata1.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-cell">
                    <img class="d-block w-100" src="../../assets/images/bmw-cars-car-sport-car-wallpaper-preview.jpg" alt="Third slide">
                  </div>
            </carousel>
          </div>
          <div class="cotainer p-2 m-4" style= "background-color: honeydew;">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus vitae ducimus quaerat culpa accusamus praesentium, eum illo? Voluptatum accusamus amet nobis sunt eos quaerat consequatur error unde assumenda esse aliquid voluptatem, inventore fugit sequi asperiores delectus cupiditate iure facilis sit perferendis. Inventore, repellendus. Libero mollitia numquam nobis blanditiis dolorem molestias, autem similique ab reiciendis nisi omnis ipsa consectetur nulla! Voluptate ratione sapiente officiis sunt!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, quisquam vitae nesciunt deserunt repudiandae, dolorem vero porro quibusdam, sit dolore culpa dignissimos corrupti perspiciatis. Consequatur iure, in velit eos repudiandae quia expedita rem excepturi deserunt voluptatem ipsam, dolorum neque odio rerum, esse pariatur commodi possimus. Voluptates explicabo exercitationem tenetur doloribus laboriosam ab ipsum quisquam sit aut, et magni a est aperiam nihil non sint ad molestiae. Pariatur minus exercitationem molestiae eum ut vel placeat, mollitia recusandae hic laborum assumenda, repellendus dicta expedita impedit ex inventore fugiat ullam! Atque ipsum magni perspiciatis doloribus vitae dolor repudiandae, est reiciendis minus a repellendus, quia dicta minima eos illum facere. Maxime, accusamus earum perspiciatis porro atque reiciendis quas facilis neque repellat, provident dolores magnam magni suscipit, a soluta pariatur unde asperiores? Id?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nam similique, distinctio culpa quibusdam ducimus iste aliquam? Dolorum voluptate libero dolorem, rerum nesciunt tempora fugiat non id laudantium modi dolor optio nobis.</p>
          </div>
          <div class="jumbotron jumbotron-fluid bg-dark">
            <div class="container">
              <h1 class="display-4 p-5 m-5"></h1>
              <p class="lead"></p>
            </div>
          </div>
          <nav class="navbar fixed-bottom navbar-dark bg-dark">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item px-3 active">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>
              </ul>
          </nav>
    </body>
</html> -->